<div class="form">
  <img
    class="py-5 m-auto"
    src="../../assets/images/osoftyazılımlogin.png"
    alt=""
  />
  <div>
    <dx-tree-view
      [items]="treeData"
      displayExpr="text"
    >
      <div *dxTemplate="let item of 'item'">
        <a [routerLink]="'home/'+item.url" class="menu-item">
          <span class="icon fas fa-circle"></span>
          <p class="menu-text">{{ item.text }}</p>
        </a>
      </div>
    </dx-tree-view>
  </div>

<!-- 
    <dx-tree-view
      [items]="menu"
      keyExpr="path"
      selectionMode="single"
      [focusStateEnabled]="false"
      expandEvent="click"
      width="100%">
      <ng-container *dxTemplate="let data of 'item'">
        <div class="menu-item">
          <span (click)="navigateToPage(data)">{{ data.text }}</span>
          <span class="drag-icon" *ngIf="!data.items || data.items.length === 0">

          <i class="fa-solid fa-grip-vertical" (click)="onDragStart($event, data)"></i>
            </span>
        </div>
      </ng-container>
    </dx-tree-view> -->


     <dx-tree-view
      [items]="menu"
      keyExpr="path"
      selectionMode="single"
      [focusStateEnabled]="false"
      expandEvent="click"
      width="100%">
      <ng-container *dxTemplate="let data of 'item'">
        <div class="menu-item">
          <span (click)="navigateToPage(data)">{{ data.text }}</span>
          <span class="drag-icon" *ngIf="!data.items || data.items.length === 0">

          <!-- <i class="fa-solid fa-grip-vertical" (click)="onDragStart($event, data)"></i> -->
            </span>
        </div>
      </ng-container>
    </dx-tree-view>
</div>



