.modal-filter {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
  height: 700px;
}

.container-filter {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.header-filter {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  text-align: center;
  & h3 {
    font-size: 20px;
    color: rgb(13, 98, 234);
    font-weight: 700;
    text-transform: uppercase;
  }
}

.column {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: end;
  text-align: end;
  gap: 5px;
}
