
<div class="form" class="px-5 py-2 flex justify-between items-center bg-[#1e88e5]" >
  <div>
<!--    <dx-menu-->
<!--      #menu-->
<!--      [dataSource]="topPages"-->
<!--      displayExpr="name"-->
<!--      orientation="horizontal"-->
<!--      [hideSubmenuOnMouseLeave]="false"-->
<!--      (onItemClick)="itemClick($event)"-->
<!--      cssClass="text-white hover:text-white"-->
<!--    >-->
<!--    </dx-menu>-->
<!--    <div  *ngIf="currentProduct">-->
<!--      <img src="{{ currentProduct.icon }}" />-->
<!--      <div  class="name">{{ currentProduct.name }}</div>-->
<!--    </div >-->

  </div>

  <button mat-icon-button (click)="onLogout()">
    <mat-icon class="text-white">exit_to_app</mat-icon>
  </button>

</div>
